/*@font-face {
    font-family: 'ac';
    src:    url('font/Acumin Pro Medium.otf');
 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HK1-1';
    src:    url('font/HKGrotesk-LightItalic.eot');
    src:    url('font/HKGrotesk-LightItalic.svg'),
            url('font/HKGrotesk-LightItalic.woff') format('woff'),
            url('font/HKGrotesk-LightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HK2';
    src:    url('font/HKGrotesk-Medium.eot');
    src:    url('font/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
            url('font/HKGrotesk-Medium.woff') format('woff'),
            url('font/HKGrotesk-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HK3';
    src:    url('font/HKGrotesk-Medium.eot');
    src:    url('font/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
            url('font/HKGrotesk-Medium.woff') format('woff'),
            url('font/HKGrotesk-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*/

/*.project1{
    display: none;
}*/
/*.projtitle{
text-decoration: underline;}
*/

.aboutProject{
    margin-top: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    /*padding-left: 100px;
    padding-right: 30px;*/
    }

    body {
    width: 100%;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.nav{
   font-size: 28px;
    line-height: 1.3;
    position: fixed;
    padding-left: 20px;

}

img.imgproj {
    border: 0;
    /* max-width: 800px; */
    max-width: 100%;
    /* margin-left: 80PX; */
}

.close{
        margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 20px;
}


.close:hover{
    text-decoration: underline;
}

.loader--headline{
    position: fixed;
    left: 0px;
    background-color: black;
    color: white;
    font-size: 100px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
a:hover {
color: red;}

.moreinfo{
        margin-top: 0px;
    margin-right: 100px;
}

.top{
      position: fixed;
    min-height: 50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 7;
    background-color: white;
    border-bottom: 2px solid black;
    padding-left: 10px;
}

.titl{
        margin-left: 60px;
    font-family: HK2;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    margin-right: 20px;
    margin-left: 20px;
}

.content{
    margin-left: 60px;
    padding: 0px;
    font-size: 28px;
   
}

.intro {
    margin-left: 60px;

}
.petit{
    font-size: 22px;
    font-family: 'HK1-1';
}

nav.ul.li:hover{
color: red;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0px;
    min-height: 1px;
}

.cwork{
    margin-top: 0px;
}
.categories{
/*    text-decoration: underline;
*/    margin-bottom: 10px;
}
/*

.projtitle:hover.hid{
    display: block;
}

.hid{
    display: none;
}
*/
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.anch{
    padding-top: 20px;
}

.categories:hover{
}
.sect{
    margin-bottom: 20px;
}

.titletxt{
    font-size: 28px;
    line-height: 1.3;
    padding-right: 30px;
}


